.subscribe {
	background: url('../images/bg-sub.jpg');
	&__title {
		font: 700 40px Raleway, sans-serif;
		margin-top: 145px;
		@media (max-width: 1023px) {
			text-align: center;
			margin-top: 50px;
		}
	}
	&__text {
		font: 300 17px Raleway, sans-serif;
		margin-top: 35px;
		@media (max-width: 1023px) {
			width: 700px;
			text-align: center;
			margin-left: 14%;
			font-size: 23px;
		}
	}
	&__form {
		margin-bottom: 160px;
		@media (max-width: 1023px) {
			width: 700px;
			text-align: center;
			margin-left: 14%;
			margin-bottom: 50px;
			font-weight: 500;
		}
	}
	&__input {
		border: 1px solid #262626;
		font: 300 15px Raleway, sans-serif;
		padding: 20px 15px;
		margin-top: 35px;
		max-width: 575px;
		width: 100%;
		@media (max-width: 1023px) {
			font-size: 23px;
		}
	}
	&__link-pos {
		margin-top: 55px;
		@media (max-width: 1023px) {
			margin-bottom: 50px;
			margin-left: 380px;
		}
		@media (min-width: 320px) {

		}
	}
	&__link {
		font: 300 17px Raleway, sans-serif;
		text-decoration: none;
		text-transform: uppercase;
		color: #fff;
		border: 1px solid #96b92c;
		background-color: #96b92c;
		padding: 20px 30px;
		&:hover {
			background-color: #6b7e9c;
			border: 1px solid #6b7e9c;
		}
		@media (min-width: 320px) {
			font-size: 1rem;
		}
	}
}
